 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// ================= Variables ================= //


// Font Family and sizes
$primary-font: "Nimbus Sans", "Helvetica", "Arial", "sans-serif";
$body-font-size: rem(18);
$main-heading-font-size: rem(36);
$sub-heading-font-size: rem(16);

// Colors
$primary-color: #444B4F; //-- Dark Blue --//
$secondary-color: #8B8B83; //-- Dark Brown --//
$accent-color: #B1B2A8; //-- Light Brown --//

// Media Queries
$mobile: new-breakpoint(max-width 480px);
$tablet: new-breakpoint(min-width 481px max-width 965px);


// ================= General ================= //


body {
  font-family: $primary-font;
  color: $secondary-color;
}

ul {
  list-style: none;
}

h1, h2, h3, h4 {
  margin: 0;
}

.hidden {
  display: none;
}


// ================= Header ================= //


header {
  @include outer-container;

  .header-contact {
    @include span-columns(12);
    margin-bottom: 3%;

    @include media($mobile) {
      @include span-columns(11);
      margin-bottom: 0;
    }
  }

  .header-contact-info {
    float: right;

    li {
      float: left;
      display: inline-block;
      margin-right: rem(20);

      &:last-child {
        margin-right: rem(0);
      }
    }

    svg {
      width: 40px;
    }
  }

  .content-wrapper {
    @include outer-container;

    .header-logo {
      @include span-columns(3);
      @include shift(4.5);
      margin-bottom: 7%;

      @include media($mobile) {
        @include span-columns(4.5);
        @include shift(3.25);
        margin-bottom: 3%;

        svg {
          width: rem(152);
        }
      }
    }

    .header-name {
      @include span-columns(12);

      h1 {
        font-family: $primary-font;
        text-transform: uppercase;
        letter-spacing: rem(2);
        color: $primary-color;
        font-weight: 700;
        font-size: rem(28);
        text-align: center;
        margin-bottom: rem(10);
      }

      h3 {
        font-family: $primary-font;
        text-transform: uppercase;
        letter-spacing: rem(2);
        color: $secondary-color;
        font-weight: 300;
        font-size: rem(22);
        text-align: center;
      }

      @include media($mobile) {
        @include span-columns(12);

        h1 {
          font-size: rem(24);
        }

        h3 {
          font-size: rem(18);
        }
      }
    }
  }
}


// ================= About ================= //


.about {
  margin-top: 5%;
  @include outer-container;

  p {
    @include span-columns(10);
    @include shift(1);

    font-family: $primary-font;
    font-size: rem(18);
    font-weight: 300;
    color: $secondary-color;
    text-align: center;
    line-height: 150%;

    @include media($mobile) {
      @include span-columns(10);
      @include shift(1);

      p {
        font-size: rem(14);
      }
    }
  }

  .work-links {
    @include span-columns(12);
    margin-top: 2%;
  }

  .dev-icon {
    @include span-columns(1);
    @include shift(5.5);

    svg {
      padding: rem(20);
      cursor: pointer
    }

    @include media($mobile) {
      @include span-columns(3);
      @include shift(4.5);
    }
  }
}


// ================= Work ================= //


.work {
  background: #fafafa;

  @include media($mobile) {
    background: #fafafa;
  }
}

.wrapper {
  @include outer-container;

  ul {
    @include span-columns(7.5);
    @include shift(2.5);
    padding-left: 0;
  }

  li {
    float: left;
    font-family: $primary-font;
    font-size: rem(18);
    font-weight: 400;
    text-transform: uppercase;
    color: $secondary-color;
    margin: rem(25);
    cursor: pointer;

    &:hover {
      color: $accent-color;
    }
  }
  .active {
    color: $primary-color;
  }

  @include media($mobile) {
    @include span-columns(12);

    ul {
      @include span-columns(10);
      @include shift(1);
      padding-left: 0;
    }

    li {
      float: none;
      font-size: rem(14);
      margin: 0 0 rem(10) 25%;
    }
  }
}

.imac {
  @include span-columns(8);
  @include shift(2);
  position: relative;

  @include media($mobile) {
    @include span-columns(11);
    @include shift(.35);
    position: relative;

    svg {
      width: rem(300);
      height: rem(207);
    }
  }

  #screenshots {
    height: 60%;
    width: 95%;
    background-color: #fff;
    position: absolute;
    top: rem(25);
    left: rem(17);

    @include media($mobile) {
      height: 60%;
      width: 95%;
      position: absolute;
      top: rem(12);
      left: rem(11);
    }
  }
}

.surf-screenshot {
  background-image: url("../images/surf.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.github-screenshot {
  background-image: url("../images/github-profile.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.market-screenshot {
  background-image: url("../images/market.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-info {
  @include span-columns(8);
  @include shift(2);
  margin-top: 2%;

  font-family: $primary-font;
  font-size: rem(16);
  font-weight: 300;
  color: $primary-color;
  line-height: 150%;
  text-align: center;

  a {
    font-family: $primary-font;
    font-size: rem(16);
    font-weight: 300;
    color: $secondary-color;
    line-height: 150%;
    text-align: center;
    text-decoration: none;
  }

  a:hover {
    color: $accent-color;
  }

  @include media($mobile) {
    @include span-columns(10);
    @include shift(1);

    font-size: rem(14);
  }

  .links {
    @include span-columns(4);
    @include shift(4);
    padding-left: 0;

    li {
      float: left;
      font-family: $primary-font;
      font-size: rem(16);
      font-weight: 400;
      text-transform: uppercase;
      color: $secondary-color;
      margin: rem(10) rem(15);
      cursor: pointer;

      &:hover {
        color: $accent-color;
      }
    }

    @include media($mobile) {
      @include span-columns(9);
      @include shift(2);

      li {
        margin: rem(10) rem(10);
      }

      a {
        font-size: rem(14);
      }
    }
  }
}


// ================= Footer ================= //


footer {
  margin-top: 5%;
  margin-bottom: 2%;
  @include outer-container;

  .footer-logo {
    @include span-columns(1);
    @include shift(5.5);

    svg {
      width: 100%;
    }

    @include media($mobile) {
      @include span-columns(2);
      @include shift(5);
    }
  }

  .footer-links {
    @include span-columns(8);
    @include shift(2);
    padding: 0 5%;

    ul {
      padding-left: 0;
      font-family: $primary-font;
      font-size: rem(14);
      font-weight: 300;
      color: $secondary-color;
    }

    li {
      float: left;
      margin: rem(5) rem(10) rem(20);
    }

    .seperator {
      color: $primary-color;
    }

    a {
      font-family: $primary-font;
      font-size: rem(14);
      font-weight: 300;
      color: $secondary-color;
      text-decoration: none;
    }

    a:hover {
      color: $accent-color;
    }

    @include media($mobile) {
      @include span-columns(11);
      @include shift(.5);
      padding: 0;

      li {
        margin: 0 rem(5) rem(15);

        &:last-child {
          margin-left: 40%;
        }
      }

      a {
        font-size: rem(11);
      }
    }
  }
}
